.site-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-item {
  flex: 1;
}

.site-flex h1 {
	font-weight: 100;
	font-size: 250%;
}

.site-flex .title-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.site-flex .site-title {
	text-align: center;
	padding-top: 10px;
	font-weight: 100;
	font-size: 500%;
	padding-bottom: 30px;
}

.site-flex h2 {
	font-weight: 200;
	font-size: 150%;
}

